.fondo-body{
    background:#c5cece;
}

#menu {
    float: left;
    width: 150px;
}

#contenido {
    float: left;
    width: 550px;
  }

  *{
      margin: 0;
      padding: 0;
  }

  #sidebar{
      position: fixed;
      width: 200px;
      height: 100%;
      background: whitesmoke;
      left: -200px;
      transition: all 500ms linear;
  }

#contenedor{
        position: initial 210px;
        width: 1500px;
        height: 100%;
        background: yellow;
        height: 100%;
        left: 200px;
}

#contenedor.container-panel{
    left: 0px;
}

#sidebar.active{
    left: 0px;
}

  #sidebar ul li {
      color:  #040c0c;
      text-align: center;
      border-bottom: 1px solid rgba(100, 100, 100, .3);
      padding: 5px 10px; 
  }

  #sidebar .toggle-btn{
      position: absolute;
      left:230px;
      top: 20px;
      cursor:pointer;
  }

  #sidebar .toggle-btn span{
      display: block;
      width: 40px;
      text-align: center;
      font-size: 30px;
      color: gray;
  }


