<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css">
    <title>Buscar</title>
</head>
<body>
    {% if error %}
        <p style="color:red">Pro favor introduce un término de búsqueda</p>
    {% endif %}
    <form action="/buscar/" method="GET">
        <input type="text" name="q" class="form-control">
        <input type="submit" value="Buscar" class="btn btn-outline-primary">
    </form>
</body>
</html>